@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mulish:wght@300;400;700&family=Roboto&family=Rubik+Moonrocks&display=swap');

*{
    font-family: "Mulish", sans-serif;
}

.service {
    margin-top: 40px;
}

.service-main-section h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}

.service-main-section img {
    width: 56px;
    background: #000000;
    border-radius: 5px;
}

.service-main-section p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.service-second-section{
    width: 300px;
    height: 250px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 25px;
}

.service-section-img img{
    width: 18%;
}

.service-section-body h3{
    font-weight: 700;
    font-size: 18px;
}

.service-section-body p{
    color: #7D7987;
}

.service-second-button{
    margin-top: 60px;
}

.service-btn{
    margin-top: 20px;
    outline: none;
    box-shadow: none;
    border: 1.4px solid #458FF6;
    background: white;
    padding: 8px 22px;
    color: #458FF6;
    border-radius: 25px;
    font-weight: 700;
    font-size: 18px;
}

.service-btn:hover{
    background-color: #458FF6;
    color: white;
    transition: all 2s;
}