@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mulish:wght@300;400;700&family=Roboto&family=Rubik+Moonrocks&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

.article-header {
  text-align: center;
}

.article-header h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.article-card {
  width: 350px;
  height: 480px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.card-title {
  font-weight: 700;
}

.card-footer {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  margin-left: -19px;
}

.card-footer img {
  margin-top: -4px;
}

.card-footer h3 {
  font-size: 17px;
  color: #4089ed;
  margin-right: 10px;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .article-row {
    position: relative;
    top: -125px;
  }

  .article-card {
    width: 308px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .article-row {
    position: relative;
    top: 100px;
  }

  .article-card {
    position: relative;
    left: 70px;
    width: 550px;
    height: auto;
  }

  .card-title {
    font-size: 35px;
  }

  .card-text {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .article-row {
    position: relative;
    top: -125px;
  }
}
