@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mulish:wght@300;400;700&family=Roboto&family=Rubik+Moonrocks&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

.provider-img img {
  width: 100%;
}

.provider {
  margin-left: 123px;
  margin-top: 40px;
}

.provider h2 {
  font-weight: 700;
}

.provider p {
  font-weight: 400;
  color: #7d7987;
}

.provider-btn {
  outline: none;
  box-shadow: none;
  border: 1.4px solid #458ff6;
  background: #ffffff;
  color: #458ff6;
  padding: 15px 35px;
  border-radius: 55px;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .healthcr-provdrs {
    margin-top: 50px;
  }

  .app-downld {
    margin-top: 70px;
  }

  .provider {
    position: relative;
    margin-left: 50px;
    top: -15px;
  }

  .provider p {
    font-size: 18px;
  }

  .downl-img img {
    position: relative;
    top: 50px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .healthcr-provdrs {
    position: relative;
    top: 30px;
  }

  .app-downld {
    flex-direction: column-reverse;
    position: relative;
    top: 100px;
  }

  .provider {
    margin-left: 0;
  }

  .provider h2 {
    font-size: 60px;
  }

  .provider p {
    font-size: 30px;
  }

  .provider-btn {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  br {
    display: none;
  }

  .provider {
    margin-left: 5px;
  }
}
